<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include UR description macros -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <!--
    Updated macro that mimics the workstation-style UR3e setup.
    It expects arguments similar to the second file.
  -->
  <xacro:macro
    name="my_robot_cell"
    params="
      parent
      *origin
      ur_type
      robot_ip
      use_mock_hardware
      mock_sensor_commands
      headless_mode
      initial_positions_file
      script_filename
      output_recipe_filename
      input_recipe_filename
      base_at_world_origin
    ">

    <!-- ==================== BASE LINK / TABLE ==================== -->
    <joint name="world_to_bordplade" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="bordplade"/>
    </joint>

    <link name="bordplade">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/Bundplade.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/Bundplade.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!-- ==================== MOUNT ==================== -->
    <link name="mount">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/UR3e_mount.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/UR3e_mount.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <joint name="bordplade_to_mount" type="fixed">
      <parent link="bordplade"/>
      <child link="mount"/>
      <origin xyz="0.200 0.0 0.250" rpy="0 0 0"/>
    </joint>

    <!-- ==================== Robot Parent Logic ==================== -->
    <xacro:if value="${base_at_world_origin}">
      <xacro:property name="robot_parent" value="${parent}"/>
      <xacro:property name="robot_xyz"    value="0 0 0"/>
      <xacro:property name="robot_rpy"    value="0 0 0"/>
    </xacro:if>

    <xacro:unless value="${base_at_world_origin}">
      <xacro:property name="robot_parent" value="mount"/>
      <xacro:property name="robot_xyz"    value="0 -0.218 0"/>
      <xacro:property name="robot_rpy"    value="-1.5708 0 3.1416"/>
    </xacro:unless>

    <!-- ==================== UR3e Robot ==================== -->
    <xacro:ur_robot
      name="${ur_type}"
      tf_prefix=""
      parent="${robot_parent}"
      joint_limits_parameters_file="$(find ur_description)/config/${ur_type}/joint_limits.yaml"
      kinematics_parameters_file="$(find ur_description)/config/${ur_type}/default_kinematics.yaml"
      physical_parameters_file="$(find ur_description)/config/${ur_type}/physical_parameters.yaml"
      visual_parameters_file="$(find ur_description)/config/${ur_type}/visual_parameters.yaml"
      transmission_hw_interface="hardware_interface/PositionJointInterface"
      safety_limits="false"
      safety_pos_margin="0.15"
      safety_k_position="20"
      use_mock_hardware="${use_mock_hardware}"
      mock_sensor_commands="${mock_sensor_commands}"
      headless_mode="${headless_mode}"
      robot_ip="${robot_ip}"
      script_filename="${script_filename}"
      output_recipe_filename="${output_recipe_filename}"
      input_recipe_filename="${input_recipe_filename}"
      initial_positions_file="${initial_positions_file}"
    >
      <origin xyz="${robot_xyz}" rpy="${robot_rpy}"/>
    </xacro:ur_robot>

    <!-- ==================== Additional Elements (optional) ==================== -->
    <!-- You can re-add monitor, wall, cameras, test plates etc. here,
         by following the workstation pose conventions. -->

  </xacro:macro>

</robot>
